.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
    h2{
        width: 100%;
    }
    .container{
        width: 45%;
    }
    .contact-form{
        width: 65%;
        min-width: 300px;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}