@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

p, ul, nav, li, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}