.image-container{
    display: flex;
    position: relative;
    top: 200px;
    background-color: whitesmoke;
    justify-content: center;
    .blur-container{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        max-height: 600px;
        width: 100%;
        backdrop-filter: blur(10px);
        img{
            max-width: 1380px;
        }
    }
}