@media(max-width: 856px){
    .contact-container{
        flex-direction: column;
        justify-content: flex-start !important;
        .container{
            margin: 0;
        }
        .contact-form{
            width: 85%;
            margin: 0 auto;
        }
    }
    .form-container{
        margin-top: 320px !important;
    }
    .card{
        h3{
            text-align: center;
        }
    }
}

@media(max-width: 652px){
    nav{padding: 20px;}
}

@media(max-width: 559px){
    .contact-container{
        .contact-info{
            width: 70% !important;
        }
        .card{
            width: 65% !important;
            margin: 10px auto;
        }
    }
    .card-container{
        .card{
            width: 100% !important;
        }
    }
}

@media(max-width: 499px){
    .logo-container{
        img{
            padding: 15px 0;
        }
    }
    .banner-container{
        justify-content: center !important;
    }
    .more-container{
        justify-content: center !important;
    }
    .card-container{
        padding: 10px 0 !important;
        .card{
            width: 100% !important;
        }
    }
    .map-container{
        max-width: 250px !important;
        max-height: 200px !important;
    }
}

@media(max-width: 400px){
    .more-container{
        h4{
            text-align: center;
        }
    }
}